@using Microsoft.AspNet.Identity.EntityFramework
@using MvcTraining.Models.View
@model List<EditUserRoleViewModel>
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div class="form-group">
    @using (Html.BeginForm("Users", "Role", FormMethod.Post))
    {
        <table border="1" cellpadding="10">
            <tr>
                <th>User name</th>
                <th>Roles</th>
            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => m[i].UserId)
                    </td>
                    <td>
                        @Html.ValueFor(m => m[i].UserName)
                    </td>
                    <td>
                        @Html.ListBoxFor(m => m[i].UserRolesNames, new MultiSelectList((List<IdentityRole>)ViewData["Roles"], "Name", "Name", Model[i].UserRolesNames), new { size = 3 })
                        
                    </td>
                </tr>
                }
        </table>

        <input type="submit" value="Save changes" />
    }
    
</div>




